---
import { ArrowRightIcon } from "lucide-react";

const { cardTitle = "", cardSubtitle, cardEarlyBird, cardRegular, cardDescription } = Astro.props;
---

<div
  class="p-4 rounded-3xl bg-radial from-slate-200 to-slate-100 space-y-4 border border-slate-300 shadow-inner inset-shadow-slate-800"
>
  <div class="border border-slate-200 rounded-xl p-4 flex flex-col flex-1 bg-slate-50 shadow-xs">
    <div class="h-10">
      <h4 class="text-lg font-semibold text-slate-900">{cardTitle}</h4>
      {
        cardSubtitle && (
          <p class="text-xs font-medium text-slate-600 mt-1 empty:hidden px-2 py-1 bg-emerald-500/30 rounded-full w-max">
            {cardSubtitle}
          </p>
        )
      }
    </div>

    <div class="flex flex-col gap-5 bg-white/10 p-2 rounded-lg empty:hidden">
      {
        cardEarlyBird && (
          <div class="mt-10">
            <p class="text-xs font-medium text-slate-600 mb-2">Early Bird ({cardEarlyBird.date})</p>
            <p class="font-bold text-slate-900">{cardEarlyBird.price}</p>
          </div>
        )
      }

      {
        cardRegular && (
          <div>
            <p class="text-xs font-medium text-slate-600 mb-2">Regular ({cardRegular.date})</p>
            <p class="font-bold text-slate-900">{cardRegular.price}</p>
          </div>
        )
      }
    </div>

    <p class="text-xs font-bold text-slate-900 mt-2 mb-4 empty:hidden">{cardDescription}</p>
  </div>

  <a
    class="w-full text-left flex items-center gap-4 justify-between text-sm bg-radial from-emerald-800 via-emerald-900 to-emerald-950 text-emerald-50 rounded-xl p-2 cursor-pointer border border-dashed border-emerald-500 hover:opacity-90 transition-opacity shadow-md"
  >
    <span>Register Here</span>
    <ArrowRightIcon />
  </a>
</div>
